<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2021 Link Intersystems GmbH and others.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        Link Intersystems GmbH - René Link - API and implementation
 -->

<plugin>
   <extension-point id="listeners" name="JIT Watch Listeners" schema="schema/listeners.exsd"/>
   <extension
         point="io.jitclipse.core.parsers">
      <parser
            class="io.jitclipse.jitwatch.core.parser.internal.JitWatchLogParser">
      </parser>
   </extension>
   <extension
         point="io.jitclipse.core.launch">
      <argsProvider
            class="io.jitclipse.jitwatch.core.launch.JitWatchArgProvider">
      </argsProvider>
   </extension>
</plugin>
