<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="listeners" name="listeners" schema="schema/listeners.exsd"/>
   <extension-point id="parsers" name="parsers" schema="schema/parsers.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="io.jitclipse.core.launch.internal.JavaLauncherDelegate"
            id="io.jitclipse.core.javaApplicationLauncher"
            modes="jit"
            name="JIT Watch Java"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            type="org.eclipse.jdt.launching.localJavaApplication">
      </launchDelegate>
      <launchDelegate
            delegate="io.jitclipse.core.launch.internal.JavaLauncherDelegate"
            id="io.jitclipse.core.junitLauncher"
            modes="jit"
            name="JIT Watch JUnit Test"
            type="org.eclipse.jdt.junit.launchconfig">
      </launchDelegate>
      <launchDelegate
            delegate="io.jitclipse.core.launch.internal.EclipseLauncherDelegate"
            id="io.jitclipse.core.workbenchLauncher"
            modes="jit"
            name="JIT Watch Eclipse Application"
            type="org.eclipse.pde.ui.RuntimeWorkbench">
      </launchDelegate>
      <launchDelegate
            delegate="io.jitclipse.core.launch.internal.EclipseLauncherDelegate"
            id="io.jitclipse.core.equinoxLauncher"
            modes="jit"
            name="JIT Watch OSGI Framework"
            type="org.eclipse.pde.ui.EquinoxLauncher">
      </launchDelegate>
      <launchDelegate
            delegate="io.jitclipse.core.launch.internal.JavaLauncherDelegate"
            id="io.jitclipse.core.testNGLauncher"
            modes="coverage"
            name="JIT Watch TestNG"
            type="org.testng.eclipse.launchconfig">
      </launchDelegate>
      <launchDelegate
            delegate="io.jitclipse.core.launch.internal.EclipseLauncherDelegate"
            id="io.jitclipse.core.RAPJUnitLauncher"
            modes="coverage"
            name="JIT Watch RAP JUnit Test"
            type="org.eclipse.rap.ui.launch.RAPJUnitTestLauncher">
      </launchDelegate>
      <launchDelegate
            delegate="io.jitclipse.core.launch.internal.EclipseLauncherDelegate"
            id="io.jitclipse.core.SWTBotJUnitLauncher"
            modes="jit"
            name="JIT Watch SWTBot Test"
            type="org.eclipse.swtbot.eclipse.ui.launcher.JunitLaunchConfig">
      </launchDelegate>
      <launchDelegate
            delegate="io.jitclipse.core.launch.internal.JavaLauncherDelegate"
            id="io.jitclipse.core.scalaApplicationLauncher"
            modes="jit"
            name="JIT Watch Scala"
            type="scala.application">
      </launchDelegate>
      <launchDelegate
            delegate="io.jitclipse.core.launch.internal.EclipseLauncherDelegate"
            id="io.jitclipse.core.junitPluginLauncher"
            modes="jit"
            name="JIT Watch JUnit Plug-in Test"
            type="org.eclipse.pde.ui.JunitLaunchConfig">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchModes">
      <launchMode
            label="JIT Watch"
            launchAsLabel="JIT Watch As"
            mode="jit">
      </launchMode>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IProject"
            class="io.jitclipse.core.resources.internal.ProjectAdapterFactory">
         <adapter
               type="io.jitclipse.core.resources.IJitProject">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="io.jitclipse.core.resources.internal.FileAdapterFactory">
         <adapter
               type="io.jitclipse.core.resources.IHotspotLogFile">
         </adapter>
      </factory>
      <factory
            adaptableType="io.jitclipse.core.model.IPackage"
            class="io.jitclipse.core.model.internal.PackageAdapterFactory">
         <adapter
               type="io.jitclipse.core.model.IHotspotLog">
         </adapter>
      </factory>
      <factory
            adaptableType="io.jitclipse.core.model.IClass"
            class="io.jitclipse.core.model.internal.ClassAdapterFactory">
         <adapter
               type="io.jitclipse.core.model.IHotspotLog">
         </adapter>
      </factory>
      <factory
            adaptableType="io.jitclipse.core.model.IMethod"
            class="io.jitclipse.core.model.internal.MethodAdapterFactory">
         <adapter
               type="io.jitclipse.core.model.IHotspotLog">
         </adapter>
      </factory>
      <factory
            adaptableType="io.jitclipse.core.resources.IHotspotLogFile"
            class="io.jitclipse.core.resources.internal.HotspotLogAdapterFactory">
         <adapter
               type="io.jitclipse.core.model.IHotspotLog">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-patterns="hotspot*.log"
            id="io.jitclipse.core.hotspot.xml"
            name="Hotspot XML Content Type"
            priority="high">
      </content-type>
   </extension>
</plugin>
