<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="io.jitclipse.ui.perspectives.HotspotPerspective"
            icon="icons/releng_gears.gif"
            id="io.jitclipse.ui.perspective"
            name="Hotspot Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="io.jitclipse.ui.perspective">
         <actionSet
               id="io.jitclipse.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <actionSet
               id="io.jitclipse.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <actionSet
               id="io.jitclipse.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <actionSet
               id="io.jitclipse.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <actionSet
               id="io.jitclipse.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.scala-ide.sdt.core.perspective">
         <actionSet
               id="io.jitclipse.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>

   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="io.jitclipse.ui.launchActionSet"
            label="JIT Watch Launch Actions"
            visible="false">
         <menu
               id="org.eclipse.ui.run"
               label="&amp;Run"
               path="additions">
            <separator name="relaunchGroup"/>
            <separator name="emptyLaunchGroup"/>
         </menu>
         <action
               allowLabelUpdate="true"
               class="io.jitclipse.ui.launch.JitWatchToolbarAction"
               disabledIcon="$nl$/icons/full/elcl16/runjit.png"
               hoverIcon="$nl$/icons/full/elcl16/runjit.png"
               icon="$nl$/icons/full/elcl16/runjit.png"
               id="io.jitclipse.ui.actions.JitWatchDropDownAction"
               label="JIT Watch"
               state="false"
               style="pulldown"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"/>
         <action
               class="io.jitclipse.ui.launch.JitWatchAsAction"
               icon="$nl$/icons/full/elcl16/runjit.png"
               id="io.jitclipse.ui.actions.JitWatchAsAction"
               label="JIT Watch As"
               menubarPath="org.eclipse.ui.run/emptyLaunchGroup"
               style="pulldown"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="io.jitclipse.ui.commands.category"
            name="Jit Category">
      </category>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="icons/full/wizban/runjit.png"
            id="io.jitclipse.ui.launchGroup"
            image="icons/full/elcl16/runjit.png"
            label="JIT Watch"
            mode="jit">
      </launchGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="io.jitclipse.ui.launch.JitTabGroup"
            id="io.jitclipse.ui.JavaApplicationTabGroup"
            type="org.eclipse.jdt.launching.localJavaApplication">
         <launchMode
               description="JIT Watch of a Java application."
               mode="jit"
               perspective="io.jitclipse.ui.perspective">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="io.jitclipse.ui.launch.JitTabGroup"
            id="io.jitclipse.ui.WorkbenchTabGroup"
            type="org.eclipse.pde.ui.RuntimeWorkbench">
         <launchMode
               description="JIT Watch of a Eclipse application."
               mode="jit">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="io.jitclipse.ui.launch.JitTabGroup"
            id="io.jitclipse.ui.JUnitPluginTabGroup"
            type="org.eclipse.pde.ui.JunitLaunchConfig">
         <launchMode
               description="JIT Watch of a JUnit plug-in test run."
               mode="jit">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="io.jitclipse.ui.launch.JitTabGroup"
            id="io.jitclipse.ui.EquinoxTabGroup"
            type="org.eclipse.pde.ui.EquinoxLauncher">
         <launchMode
               description="JIT Watch of a Equinox OSGi framework launch."
               mode="jit">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="io.jitclipse.ui.launch.JitTabGroup"
            id="io.jitclipse.ui.TestNGTabGroup"
            type="org.testng.eclipse.launchconfig">
         <launchMode
               description="JIT Watch of a TestNG test run."
               mode="jit">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="io.jitclipse.ui.launch.JitTabGroup"
            id="io.jitclipse.ui.JUnitRAPTabGroup"
            type="org.eclipse.rap.ui.launch.RAPJUnitTestLauncher">
         <launchMode
               description="JIT Watch of a RAP JUnit test run."
               mode="jit">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="io.jitclipse.ui.launch.JitTabGroup"
            id="io.jitclipse.ui.SWTBotJUnitTabGroup"
            type="org.eclipse.swtbot.eclipse.ui.launcher.JunitLaunchConfig">
         <launchMode
               description="JIT Watch of a SWTBot test run."
               mode="jit">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="io.jitclipse.ui.launch.JitTabGroup"
            id="io.jitclipse.ui.ScalaApplicationTabGroup"
            type="scala.application">
         <launchMode
               description="JIT Watch of a Scala application."
               mode="jit">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="io.jitclipse.core.listeners">
      <launchListener
            class="io.jitclipse.ui.launch.JitLaunchListener">
      </launchListener>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="io.jitclipse.ui.editors.hotspot.HotspotLogEditor"
            contributorClass="io.jitclipse.ui.editors.hotspot.HotspotLogEditorContributor"
            icon="icons/full/obj16/hotspot-log.png"
            id="io.jitclipse.ui.hotspot.HotspotLogEditor"
            name="Hotspot Log Editor">
         <contentTypeBinding
               contentTypeId="io.jitclipse.core.hotspot.xml">
         </contentTypeBinding>
      </editor>
      <editor
            class="io.jitclipse.ui.editors.xml.HotspotXMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            icon="icons/full/obj16/hotspot-xml.png"
            id="io.jitclipse.ui.hotspot.xml.HotspotXMLEditor"
            name="Hotspot XML Editor">
         <contentTypeBinding
               contentTypeId="io.jitclipse.core.hotspot.xml">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="io.jitclipse.ui.navigator.JitNavigatorContentProvider"
            id="io.jitclipse.ui.navigatorContent"
            labelProvider="io.jitclipse.ui.navigator.JitNavigatorLabelProvider"
            name="Jit Navigator Content"
            priority="highest">
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <instanceof
                     value="io.jitclipse.core.resources.IHotspotLogFile">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="io.jitclipse.core.resources.IHotspotLogFile">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            class="io.jitclipse.ui.navigator.CommonActionProvider"
            id="io.jitclipse.ui.navigator.CommonActionProvider">
      </actionProvider>
      <navigatorContent
            contentProvider="io.jitclipse.ui.navigator.JitModelContentProvider"
            id="io.jitclipse.ui.jitwatchmodel.navigatorContent"
            labelProvider="io.jitclipse.ui.navigator.JitModelLabelProvider"
            name="Jit Core Model Content">
         <triggerPoints>
            <or>
               <instanceof
                     value="io.jitclipse.core.model.IPackage">
               </instanceof>
               <instanceof
                     value="io.jitclipse.core.model.IClass">
               </instanceof>
               <instanceof
                     value="io.jitclipse.core.model.IMethod">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="io.jitclipse.core.model.IPackage">
               </instanceof>
               <instanceof
                     value="io.jitclipse.core.model.IClass">
               </instanceof>
               <instanceof
                     value="io.jitclipse.core.model.IMethod">
               </instanceof>
               <instanceof
                     value="io.jitclipse.core.resources.IHotspotLogFile">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="io.jitclipse.ui.navigator.JitNavigatorViewerComparator"
               id="io.jitclipse.ui.navigator.JitNavigatorViewerComparator">
         </commonSorter>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="io.jitclipse.ui.navigator.HotspotLogFolderFilter"
            id="io.jitclipse.ui.filter.hotspotLogFolder"
            name="Hotspot Log Folder"
            visibleInUI="false">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="io.jitclipse.ui.hotspotNavigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="io.jitclipse.ui.hotspotNavigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="io.jitclipse.ui.navigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="io.jitclipse.ui.jitwatchmodel.navigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="io.jitclipse.ui.navigator.JitNavigatorViewerComparator">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="io.jitclipse.ui.navigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="io.jitclipse.ui.jitwatchmodel.navigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="io.jitclipse.ui.filter.hotspotLogFolder">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="io.jitclipse.ui.navigator.HotspotNavigator"
            id="io.jitclipse.ui.hotspotNavigator"
            name="Hotspot Navigator">
      </view>
      <category
            id="io.jitclipse.ui"
            name="JIT Watch">
      </category>
      <view
            category="io.jitclipse.ui"
            class="io.jitclipse.ui.views.suggestions.SuggestionsView"
            icon="icons/full/obj16/quick_assist.png"
            id="io.jitclipse.ui.views.SuggestionsView"
            inject="true"
            name="Suggestions">
      </view>
      <view
            category="io.jitclipse.ui"
            class="io.jitclipse.ui.views.EliminatedAllocationView"
            icon="icons/full/obj16/eliminated_allocation.png"
            id="io.jitclipse.ui.views.EliminatedAllocationView"
            inject="true"
            name="Eliminated Allocations">
      </view>
      <view
            category="io.jitclipse.ui"
            class="io.jitclipse.ui.views.locks.OptimizedLocksView"
            icon="icons/full/obj16/locked.png"
            id="io.jitclipse.ui.views.OptimizedLockView"
            inject="true"
            name="Optimized Locks">
      </view>
      <view
            category="io.jitclipse.ui"
            class="io.jitclipse.ui.views.TimelineView"
            icon="icons/full/obj16/time.png"
            id="io.jitclipse.ui.views.TimelineView"
            inject="true"
            name="Timeline">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="io.jitclipse.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="io.jitclipse.ui.preferences.JitPreferencesPage"
            id="io.jitclipse.ui"
            name="JIT">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="io.jitclipse.ui.decorators.HotspotDecorator"
            icon="icons/full/ovr/hot.png"
            id="io.jitclipse.ui.hotspotDecorator"
            label="JIT Hotspots"
            lightweight="false"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="io.jitclipse.core.model.IMethod">
               </objectClass>
               <objectClass
                     name="io.jitclipse.core.model.IClass">
               </objectClass>
               <objectClass
                     name="io.jitclipse.core.model.IPackage">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            categoryId="io.jitclipse.ui.themeCategory"
            defaultsTo="org.eclipse.ui.workbench.INFORMATION_BACKGROUND"
            id="io.jitclipse.ui.timeline.tooltip.background"
            label="Timeline Tooltip Background">
      </colorDefinition>
      <colorDefinition
            categoryId="io.jitclipse.ui.themeCategory"
            defaultsTo="org.eclipse.ui.workbench.INFORMATION_FOREGROUND"
            id="io.jitclipse.ui.timeline.tooltip.foreground"
            label="Timeline Tooltip Foreground">
      </colorDefinition>
      <themeElementCategory
            id="io.jitclipse.ui.themeCategory"
            label="JIT Watch">
      </themeElementCategory>
   </extension>
   <extension
         id="JITclipse"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="JITclipse">
      </product>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="JIT Watch Java Application"
            icon="$nl$/icons/full/etool16/java_launch.png"
            modes="jit"
            class="io.jitclipse.ui.launch.JitLaunchShortcut:org.eclipse.jdt.debug.ui.localJavaShortcut"
            id="io.jitclipse.ui.localJavaShortcut">
          <contextualLaunch>
           <enablement>
             <with variable="selection">
               <test property="io.jitclipse.ui.launchable" args="org.eclipse.jdt.debug.ui.localJavaShortcut"/>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="io.jitclipse.ui.launch.JitLaunchShortcut:org.eclipse.jdt.junit.junitShortcut"
            icon="$nl$/icons/full/etool16/junit_launch.png"
            id="io.jitclipse.ui.junitShortcut"
            label="JUnit Test"
            modes="jit">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.eclipse.jdt.junit.junitShortcut"
                        property="io.jitclipse.ui.launchable">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="io.jitclipse.ui.launch.JitLaunchShortcut:org.testng.eclipse.shortcut"
            icon="$nl$/icons/full/etool16/testng_launch.gif"
            id="io.jitclipse.ui.testNgShortcut"
            label="TestNG Test"
            modes="jit">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.testng.eclipse.shortcut"
                        property="io.jitclipse.ui.launchable">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="io.jitclipse.ui.launch.JitLaunchShortcut:org.testng.eclipse.shortcut.testngSuite"
            icon="$nl$/icons/full/etool16/testng_launch.gif"
            id="io.jitclipse.ui.testNgSuiteShortcut"
            label="TestNG Suite"
            modes="jit">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.testng.eclipse.shortcut.testngSuite"
                        property="io.jitclipse.ui.launchable">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="io.jitclipse.ui.launch.JitLaunchShortcut:org.eclipse.pde.ui.runtimeWorkbenchShortcut"
            icon="$nl$/icons/full/etool16/eclipse_launch.png"
            id="io.jitclipse.ui.workbenchShortcut"
            label="Eclipse Application"
            modes="jit">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.eclipse.pde.ui.runtimeWorkbenchShortcut"
                        property="io.jitclipse.ui.launchable">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="io.jitclipse.ui.launch.JitLaunchShortcut:org.eclipse.pde.ui.junitWorkbenchShortcut"
            icon="$nl$/icons/full/etool16/junitplugin_launch.png"
            id="io.jitclipse.ui.junitPluginShortcut"
            label="JUnit Plug-in Test"
            modes="jit">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.eclipse.pde.ui.junitWorkbenchShortcut"
                        property="io.jitclipse.ui.launchable">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="io.jitclipse.ui.launch.JitLaunchShortcut:org.eclipse.shortcut.scala"
            icon="$nl$/icons/full/etool16/scala_launch.png"
            id="io.jitclipse.ui.scalaShortcut"
            label="Scala Application"
            modes="jit">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.eclipse.shortcut.scala"
                        property="io.jitclipse.ui.launchable">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="io.jitclipse.ui.launch.JitLaunchShortcut:org.eclipse.rap.ui.launch.RAPJUnitLaunchShortcut"
            icon="$nl$/icons/full/etool16/junitplugin_launch.png"
            id="io.jitclipse.ui.RAPJUnitLaunchShortcut"
            label="RAP JUnit Test"
            modes="jit">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.eclipse.rap.ui.launch.RAPJUnitLaunchShortcut"
                        property="io.jitclipse.ui.launchable">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="io.jitclipse.ui.launch.JitLaunchShortcut:org.eclipse.swtbot.eclipse.ui.junitShortcut"
            icon="$nl$/icons/full/etool16/swtbot_launch.png"
            id="io.jitclipse.ui.SWTBotJUnitShortcut"
            label="SWTBot Test"
            modes="jit">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.eclipse.swtbot.eclipse.ui.junitShortcut"
                        property="io.jitclipse.ui.launchable">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="io.jitclipse.ui.launch.ContextualLaunchableTester"
            id="io.jitclipse.ui.launch.propertyTester.contextualLaunchable"
            namespace="io.jitclipse.ui"
            properties="launchable"
            type="java.lang.Object"/>
   </extension>
</plugin>
