<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="io.jitclipse.ui.commands.category"
            name="Jit Category">
      </category>
      <command
            categoryId="io.jitclipse.ui.commands.category"
            name="Jit Command"
            id="io.jitclipse.ui.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="$nl$/icons/full/wizban/run_coverage.png"
            id="io.jitclipse.ui.launchGroup"
            image="$nl$/icons/full/elcl16/runcoverage.png"
            label="Jit"
            mode="jit">
      </launchGroup>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
      </perspectiveExtension>

   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="io.jitclipse.ui.launch.JitTabGroup"
            id="io.jitclipse.ui.JavaApplicationTabGroup"
            type="org.eclipse.jdt.launching.localJavaApplication">
         <launchMode
               mode="jit">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="io.jitclipse.core.listeners">
      <launchListener
            class="io.jitclipse.ui.launch.JitLaunchListener">
      </launchListener>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="io.jitclipse.ui.hotspot.HotspotLogEditor"
            contributorClass="io.jitclipse.ui.hotspot.HotspotLogEditorContributor"
            icon="icons/full/obj16/hotspot-log.png"
            id="io.jitclipse.ui.hotspot.HotspotLogEditor"
            name="Hotspot Log Editor">
         <contentTypeBinding
               contentTypeId="io.jitclipse.core.hotspot.xml">
         </contentTypeBinding>
      </editor>
      <editor
            class="io.jitclipse.ui.hotspot.xml.HotspotXMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            icon="icons/full/obj16/hotspot-xml.png"
            id="io.jitclipse.ui.hotspot.xml.HotspotXMLEditor"
            name="Hotspot XML Editor">
         <contentTypeBinding
               contentTypeId="io.jitclipse.core.hotspot.xml">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="io.jitclipse.ui.navigator.JitNavigatorContentProvider"
            id="io.jitclipse.ui.navigatorContent"
            labelProvider="io.jitclipse.ui.navigator.JitNavigatorLabelProvider"
            name="Jit Navigator Content"
            priority="highest">
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <instanceof
                     value="io.jitclipse.core.resources.IHotspotLogFile">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="io.jitclipse.core.resources.IHotspotLogFile">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            class="io.jitclipse.ui.navigator.CommonActionProvider"
            id="io.jitclipse.ui.navigator.CommonActionProvider">
      </actionProvider>
      <navigatorContent
            contentProvider="io.jitclipse.ui.navigator.JitModelContentProvider"
            id="io.jitclipse.ui.jitwatchmodel.navigatorContent"
            labelProvider="io.jitclipse.ui.navigator.JitModelLabelProvider"
            name="Jit Core Model Content">
         <triggerPoints>
            <or>
               <instanceof
                     value="io.jitclipse.core.model.IPackage">
               </instanceof>
               <instanceof
                     value="io.jitclipse.core.model.IClass">
               </instanceof>
               <instanceof
                     value="io.jitclipse.core.model.IMethod">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="io.jitclipse.core.model.IPackage">
               </instanceof>
               <instanceof
                     value="io.jitclipse.core.model.IClass">
               </instanceof>
               <instanceof
                     value="io.jitclipse.core.model.IMethod">
               </instanceof>
               <instanceof
                     value="io.jitclipse.core.resources.IHotspotLogFile">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="io.jitclipse.ui.navigator.JitNavigatorViewerComparator"
               id="io.jitclipse.ui.navigator.JitNavigatorViewerComparator">
         </commonSorter>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="io.jitclipse.ui.navigator.HotspotLogFolderFilter"
            id="io.jitclipse.ui.filter.hotspotLogFolder"
            name="Hotspot Log Folder"
            visibleInUI="false">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="io.jitclipse.ui.hotspotNavigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="io.jitclipse.ui.hotspotNavigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="io.jitclipse.ui.navigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="io.jitclipse.ui.jitwatchmodel.navigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="io.jitclipse.ui.navigator.JitNavigatorViewerComparator">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="io.jitclipse.ui.navigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="io.jitclipse.ui.jitwatchmodel.navigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="io.jitclipse.ui.filter.hotspotLogFolder">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="io.jitclipse.ui.perspectives.HotspotPerspective"
            icon="icons/releng_gears.gif"
            id="io.jitclipse.ui.perspectives.HotspotPerspective"
            name="Hotspot Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="io.jitclipse.ui.navigator.HotspotNavigator"
            id="io.jitclipse.ui.hotspotNavigator"
            name="Hotspot Navigator">
      </view>
      <category
            id="io.jitclipse.ui"
            name="JIT Watch">
      </category>
      <view
            category="io.jitclipse.ui"
            class="io.jitclipse.ui.views.SuggestionsView"
            icon="icons/full/obj16/quick_assist.png"
            id="io.jitclipse.ui.views.SuggestionsView"
            inject="true"
            name="Suggestions">
      </view>
      <view
            category="io.jitclipse.ui"
            class="io.jitclipse.ui.views.EliminatedAllocationView"
            icon="icons/full/obj16/eliminated_allocation.png"
            id="io.jitclipse.ui.views.EliminatedAllocationView"
            inject="true"
            name="Eliminated Allocations">
      </view>
      <view
            category="io.jitclipse.ui"
            class="io.jitclipse.ui.views.OptimizedLockView"
            icon="icons/full/obj16/locked.png"
            id="io.jitclipse.ui.views.OptimizedLockView"
            inject="true"
            name="Optimized Locks">
      </view>
      <view
            category="io.jitclipse.ui"
            class="io.jitclipse.ui.views.TimelineView"
            icon="icons/full/obj16/time.png"
            id="io.jitclipse.ui.views.TimelineView"
            inject="true"
            name="Timeline">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="io.jitclipse.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="io.jitclipse.ui.preferences.JitPreferencesPage"
            id="io.jitclipse.ui"
            name="JIT">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="io.jitclipse.ui.decorators.HotspotDecorator"
            icon="icons/full/ovr/hot.png"
            id="io.jitclipse.ui.hotspotDecorator"
            label="JIT Hotspots"
            lightweight="false"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="io.jitclipse.core.model.IMethod">
               </objectClass>
               <objectClass
                     name="io.jitclipse.core.model.IClass">
               </objectClass>
               <objectClass
                     name="io.jitclipse.core.model.IPackage">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            categoryId="io.jitclipse.ui.themeCategory"
            defaultsTo="org.eclipse.ui.workbench.INFORMATION_BACKGROUND"
            id="io.jitclipse.ui.timeline.tooltip.background"
            label="Timeline Tooltip Background">
      </colorDefinition>
      <colorDefinition
            categoryId="io.jitclipse.ui.themeCategory"
            defaultsTo="org.eclipse.ui.workbench.INFORMATION_FOREGROUND"
            id="io.jitclipse.ui.timeline.tooltip.foreground"
            label="Timeline Tooltip Foreground">
      </colorDefinition>
      <themeElementCategory
            id="io.jitclipse.ui.themeCategory"
            label="JIT Watch">
      </themeElementCategory>
   </extension>
   <extension
         id="JITclipse"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="JITclipse">
      </product>
   </extension>
</plugin>
